@{
    ViewData["Title"] = "By.Humbi";
}
@model MyProjectBE.Model.CategoryModel

<div class="">
    <div class="row"><h2 class="">Edit Category</h2></div>
    <div class="row">
        @* <form class="form-auth-small" asp-controller="Register" asp-action="RegisterUser" id="form-data"> *@

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="col-md-6 row">
                <div class="col-md-4">Category Id </div>

                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.CategoryID, new { @class = "form-control", @required = "required", id = "CategoryID", @placeholder = "CategoryID", @disabled = "disabled" })
                    @Html.HiddenFor(x => x.CategoryID)
                </div>
                <br /><br />
                <div class="col-md-4">Category Name </div>

                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.CategoryName, new { @class = "form-control", @required = "required", id = "CategoryName", @placeholder = "Category Name" })
                </div>
                <br /><br />
                <div class="col-md-4" onclick="backBtn(this)"><button type="button" class="btn btn-success btn-lg btn-block">back</button></div>
                <div class="col-md-8"><button type="submit" class="btn btn-primary btn-lg btn-block" @* onclick="submitBtn(this)" *@>SUBMIT</button></div>

                <br />
                @* </form> *@
            </div>
        }
    </div>
</div>

<script>
    // function submitBtn(e) {
    //     $("#form-data").submit();
    // }
    function backBtn(e) {
        history.back();
    }
</script>